extends layout/main.pug

block content
	section.section
		.section__head
			h2.section__title
				| Reliable, efficient delivery
			p.section__subtitle
				strong Powered by Technology
			p.section__desc
				| Our Artificial Intelligence powered tools use
				| millions of project data points to ensure that your
				| project is successful
		.section__body
			.card__list
				.card__list-block
					.card__list-item.card__list-item--supervisor
						h3.card__title Supervisor
						p.card__desc
							| Monitors activity to identify project
							| roadblocks
						.card__image
							img(width='64' height='64' src='./images/icons/supervisor.svg' alt='')
				.card__list-block
					.card__list-item.card__list-item--team-builder
						h3.card__title Team Builder
						p.card__desc
							| Scans our talent network to create the
							| optimal team for your project
						.card__image
							img(width='64' height='64' src='./images/icons/team-builder.svg' alt='')
					.card__list-item.card__list-item--karma
						h3.card__title Karma
						p.card__desc
							| Regularly evaluates our talent to ensure
							| quality
						.card__image
							img(width='64' height='64' src='./images/icons/karma.svg' alt='')
				.card__list-block
					.card__list-item.card__list-item--calculator
						h3.card__title Calculator
						p.card__desc
							| Uses data from past projects to provide
							| better delivery estimates
						.card__image
							img(width='64' height='64' src='./images/icons/calculator.svg' alt='')
